body {
  font-family: "Open sans";
  color: #2e0f0fa2;
  display: flex;
  justify-content: center; 
  padding-top: 20px;
}

h1{
  font-size: 60px;
  margin:20px 0 50px;  
  font-family: 'Kaushan Script', cursive;
}

h3{
  font-size: 35px;
  margin:0 10px 16px 10px ;
}

p{
  font-size: 20px;
  margin: 6px 0 6px;
}

#imgCookie{
  height: 300px;
  width: 300px;
  padding-top: 20px;
}

.cookieCount p{
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

main{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; 
}

#sideBar{
  width: 300px;
  padding: 20px;
  margin: 0 200px 0;
  font-size: 22px;
  background-color: #332b2b09;
}

button{
  font-size: 20px;
  color: #332b2ba2;
  background-color: rgb(240, 204, 128);
  border: 0.1px solid #332b2ba2;
  border-radius: 10px;
  padding: 4px 70px;
  margin: 10px 0 30px;
}

button:hover{
  background-color: rgb(252, 236, 203);
}